body{
    background-color: #afaeaa;
    /* font-family: 'Pragmatica', arial; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
        text-shadow: 4px 4px 4px #aaa;
}
.main{
    /* background-color: white; */
   
    margin: auto;
  width: 850px;
  /* border: 1px solid black; */
  padding-top: 10px;
  padding-bottom: 80px;
  
  
  height: 1450  px;
  align-items: center;
  
  position: relative;
  left: 40px;
  top: 80px;
  box-shadow: 50px;
  
}
img {
    border-radius: 4px;
  width: 330px;
  height: 260px;
}
.container1
{   
    background-color:#d0cecf;
    
    width: 330px;
    height: 1380px;

  position:  absolute;
  
  padding-top: 0px;
  padding-bottom: 90px;
    
}
.container2
{   
    background-color: white; 
    
    width: 670px;
    height: 1380px;
  
  
   float: right;
   
   position: relative;
   right: -150px;
   padding-top: 0px;
  padding-bottom: 90px;
}
ul{
    list-style-type: none;
}

hr{
  width: 275px;
  position: relative;
  left: -2px;
  top: -18px;
}

#list{
  list-style-type: disc;
}
h1,h2,h3{
  position: relative;
  
  left: 20px;
  font-weight: bold;
  font-size: 30px;
}
h1{
  font-size: 50px;
  position: relative;
  
  left: 50px;
}

#hr1{
  width: 570px;
  position: relative;
  left: -25px;
  top: -18px;
  

}
p{
  position: relative;
  
  left: 20px;
  text-align: justify;
  text-justify: inter-word;
  white-space: normal;
  font-family: Arial, Helvetica, sans-serif;
}
ul li{
  position: relative;
  letter-spacing: 1px;
  left: 20px;
}
#langul li{
  position: relative;
  letter-spacing: 1px;
  left: -15px;
}
#hobbyul{
  list-style-type: disc;
}

@media (max-width: 400px) {
  body {
    background-color: lightblue;
  }
  @media  (min-width: 401px) and (max-width: 767px) {
    body {
      background-color: yellow;
    }
    @media (min-width: 778px) and (max-width: 1024px) {
      body {
        background-color: pink;
      }
    }
    @media (min-width: 1025px) and (max-width: 1280px){
			body {
				background-color: green;
			}
		}
		
		/* Media Query for Large screens */
		@media (min-width: 1281px) {
			body {
				background-color: white;
      }}